<h1><%=@game.name%></h1>

<div id="now_playing">
<h2>Now playing</h2>
<form action="/game/gamewon/<%=@game.id%>" method="POST">
<div id="now_playing_list">
<% for player in @game.players_playing %>
<div><input id="<%=player.id%>_winner" type="radio" name="winner" value=<%= player.id %>><%= player.name %></input></div>
<% end %>
</div>

<% if @game.playing? %>
<input type="submit" value=<%=@game.winner_stays? ? '"Winner"' : '"Game Over"'%>/>
<% end %>
</form>
</div>

<% if !@game.playing? %>
<div id="start_game">
	<form action="/game/start/<%=@game.id%>" method="POST">
	<input type="submit" value="Start Game"/>
	</form>
</div>
<% end %>

<div id="waiting_div">
<h2>Waiting to play</h2>
<ul id="waiting_list">
	<% for player in @game.players_waiting %>
	<li><%= player.name %></li>
	<% end %>
</ul>
<form action="/game/gotnext/<%=@game.id%>" method="POST">
	<div><label for="gotnext_name">Name</label><input name="gotnext_name" type="text"/></div>
	<input type="submit" value="Got Next"/>
</form>
</div>

