<h1><%=@game.name%></h1>

<% if @game.playing? %>

<% if @game.winner_stays %>
<div id="now_playing">
<h2>Now playing</h2>
<form action="/game/gamewon/<%=@game.id%>" method="POST">
<% for player in @game.players_playing %>
<div><input type="radio" name="winner" value=<%= player.id %>><%= player.name %></input></div>
<% end %>
<input type="submit" value="Winner"/>
</form>
</div>
<% else %>
<div id="now_playing">
<h2>Now playing</h2>

<ul id="now_playing_list">
	<% for player in @game.players_playing %>
	<li><%= player.name %></li>
	<% end %>
</ul>
<form action="/game/gameover/<%=@game.id%>" method="POST">
<input type="submit" value="Game Over"/>
</form>
</div>
<% end %>

<% else %>
<div id="start_game">
	<form action="/game/start/<%=@game.id%>" method="POST">
	<input type="submit" value="Start Game"/>
	</form>
</div>
<% end %>

<div id="waiting_div">
<h2>Waiting to play</h2>
<ul id="waiting_list">
	<% for player in @game.players_waiting %>
	<li><%= player.name %></li>
	<% end %>
</ul>
<form action="/game/gotnext/<%=@game.id%>" method="POST">
	<div><label for="gotnext_name">Name</label><input name="gotnext_name" type="text"/></div>
	<input type="submit" value="Got Next"/>
</form>
</div>

